@import "../mixins";

.feed{
  flex-shrink: 0;
  width: rem(600);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  &__container {
    >* {
      border-bottom: 1px solid var(--border-color);
    }
  }
  &__title {
    padding: rem(15) rem(16);
    display: flex;
    justify-content: space-between;
    &-search {
      width: 100%;
      margin-left: auto;
      cursor: text;
      display: flex;
      align-items: center;
      padding: rem(12) 0;
      background-color: var(--dark-blue);
      border-radius:42px;
      img {
        margin-left: rem(12);
      }
      input {
        width: 100%;
        padding-right: rem(20);
        &::placeholder {
          font-size: remF(15);
          line-height:remF(18);
          color: var(--light-gray);
        }
      }
      &>:not(:last-child) {
        margin-right: rem(24);
      }
    }
  }
  &__create {
    border-bottom: 1px solid var(--border-color);
    &-avatar {
      img {
        width: rem(48);
        height: rem(48);
        border-radius: 50%;
      }
    }
    &-inner {
      display: flex;
      width: 100%;
      padding: rem(20) rem(12) 0 ;
      >:not(:last-child) {
        margin-right: rem(20);
      }
    }
    &-inputs {
      padding-bottom: rem(10);
      display: flex;
      width: 100%;
      flex-direction: column;
      >* {
        padding: 0 rem(15);
        &::placeholder {
          font-size: remF(18);
        }
      }
      &>:not(:last-child) {
        margin-bottom: rem(20);
      }
      input {
        height: rem(40);
        border-bottom: 1px solid var(--border-color);
      }
      textarea {
        padding: rem(15);
        resize: none;
        width: 100%;
        height: rem(130);
        &:focus {
          outline:none;
        }
      }
    }
    &-buttons {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: rem(20);
      &::before {
        border-top: 1px solid var(--border-color);
        content: '';
        position: absolute;
        top: 0;
        width: calc(100% - rem(24));
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &-input {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 10px;
      transition: background-color 200ms ease-in-out;
      &:hover {
        background-color: #292929;
      }
      input {
        position: absolute;
        left: -999999px;
      }
    }
  }
  .create-tweet {
    &:hover {
      background-color: #232323;
      transition: background-color 0.2s;
    }
    display: flex;
    padding: rem(12) rem(16);
    >:not(:last-child) {
      margin-right: rem(12);
    }
    &__btn {
      background-color: var(--btn-color);
      transition: background-color var(--hover-transition);
      padding: rem(9) rem(16);
      border-radius: 36px;
      margin-left: auto;
      &:hover {
        background-color: var(--btn-color-hover);
      }
    }
    &__avatar {
      flex-shrink: 0;
      width: rem(48);
      height: rem(48);
      border-radius: 50%;
      overflow: hidden;
    }
    &__content {
      width: 100%;
      textarea {
        resize: none;
        width: 100%;
        min-height: rem(50);
        &::placeholder {
          font-size: remF(20);
          line-height: remF(24);
          color: var(--gray);
        }
        &:active, &:hover, &:focus {
          outline: 0;
          outline-offset: 0;
        }
      }
      &-btns {
        display: flex;
        align-items: center;
      }
    }
  }
}
