// если вы хотите использовать sass-переменные - удалите root
// colors
:root {

  // colors
  --white: #fff;
  --black: #000;
  --gray:#6E767D;
  --blue: #1D9BF0;
  --border-color:#2F3336;
  --pink:#f91880;
  --hover-gray:#181818;

  --hover-transition: 0.2s ease-in-out;

  --font-ridley: 'Ridley Grotesk', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}